Notification Block on SyncPermissionOffer is not triggered when a token becomes available

In the demo branch of RealmTasks (jp-permission-offer-response), a token of a list's Realm is successfully obtained by adding a notifcation block to `SyncPermissionOffer` after adding the object to the user's management Realm. 

However, when I try to share the user's default Realm, the `NotificationBlock` is never triggered despite the fact that the token becomes available after it is processed by the server. 

```
    let syncConfig = Realm.Configuration.defaultConfiguration.syncConfiguration!
    let shareOffer = SyncPermissionOffer(realmURL: syncConfig.realmURL.absoluteString, expiresAt: nil, mayRead: true, mayWrite: true, mayManage: false)

    let managementRealm = try! syncConfig.user.managementRealm()
    try! managementRealm.write { managementRealm.add(shareOffer) }

    // Wait for server
    let offerResults = managementRealm.objects(SyncPermissionOffer.self).filter("id = %@", shareOffer.id)
    let shareOfferNotificationToken = offerResults.addNotificationBlock { changes in

    // This callback is never triggered???
    // ...
            guard case let .update(change, _, _, _) = changes,
                let offer = change.first,
                offer.status == .success,
                let token = offer.token else {
                    return
            }
           
            // Do something with token 
            let url = "realm://" + token.replacingOccurrences(of: ":", with: "/")

            //...
        }

// However, a token becomes available after some delay
    DispatchQueue.main.asyncAfter(deadline: .now() + .milliseconds(10)) {
        let token = syncPermissionOffer.first!.token
            print("Token: \(token!)") // This just works...
    }
```

What goes wrong with the notification block?

I use Realm Object Server Version: 2.4 (developer)

Some other small remarks:
- It would be incredibly useful to be able to search for a user's ID using the client APIs, instead of sending a token by e.g. e-mail. Is this something that's on the roadmap?
- In `SyncConfiguration` realmURL is of type URL, while in `SyncPermissionOffer` realmURL is of type String. Wouldn't it be more consistent when these properties are of the same type?

@Taco55 thanks for reporting this. Assigning this to our team member who was primary on building permission system.

Regarding your remarks, this is great feedback and we do have on our roadmap to expose a user search API. Right now it is annoying that the developer has to manage this. Also agree on standardizing on the URL.

@Taco55, is this a server that has been upgraded from beta?

No, it is just a fresh install

OK, thanks, that clears one potential issue up. I'll see with Marius when he has time to look at this.

I found the problem and solved it although I still don't understand why the current implementation did not work.

In my code, the `SyncPermissionOffer` was added to a user's management Realm via a class method. However, I did not store the notificationToken as a static variable in the main class, instead it was stored as a let constant in the class method itself. When I changed this to a static variable, the notification block was triggered again!! 

Although I am happy that this issue is not a problem anymore, I hope that some more examples will become available on how to use SyncPermissionOffer and Response in sharing a complete  Realm since I still encounter several errors that I cannot easily solve.  For example:  

```
realm-core-2.3.0] Assertion failed: rlmSchema.objectSchema.count == schema.size()
0   Realm                               0x00000001006de0b8 _ZN5realm4utilL18terminate_internalERNSt3__118basic_stringstreamIcNS1_11char_traitsIcEENS1_9allocatorIcEEEE + 44
1   Realm                               0x00000001006de300 _ZN5realm4util9terminateEPKcS2_lOSt16initializer_listINS0_9PrintableEE + 368
2   Realm                               0x00000001004a9ecc _ZN13RLMSchemaInfoC2EP8RLMRealmP9RLMSchemaRKN5realm6SchemaE + 660
3   Realm                               0x00000001004aa984 _ZN13RLMSchemaInfoC1EP8RLMRealmP9RLMSchemaRKN5realm6SchemaE + 112
4   Realm                               0x00000001005ab588 _ZL25RLMRealmSetSchemaAndAlignP8RLMRealmP9RLMSchema + 188
5   Realm                               0x00000001005ad0a4 +[RLMRealm realmWithConfiguration:error:] + 4076
6   RealmSwift                          0x0000000100cb1e88 _TTOFCSo8RLMRealmCfzT13configurationCSo21RLMRealmConfiguration_S_ + 160
...
IMPORTANT: if you see this error, please send this log to help@realm.io.(lldb) 
```

This issue occurs when I test the permission changes with different users, but I don't know whether this problem is related to Realm Database or Realm Object server? Is this something for which I should add a new issue?



Hi @Taco55, all Realm notifications require holding on to the returned `NotificationToken` for as long as notifications should be delivered. So if the scope of your token was limited to the method where the notification block was added, notifications will stop being delivered at the end of that scope, which is almost certainly not what you want. We document this in the [Notifications](https://realm.io/docs/swift/latest/#notifications) section of our documentation, and isn't a concept directly related to the Realm Mobile Platform.

I'm glad you figured it out and adapted your code accordingly.

As for the assertion failure, it looks like you might be connecting to mismatched versions of the Realm Object Server compared to the Realm Mobile Platform. Could you please try updating to the latest versions of both these products and report back to share if you're still experiencing issues?

The `jp-permission-offer-response` branch of RealmTasks [indicates that it's using Realm Swift 2.3.0](https://github.com/realm/RealmTasks/blob/jp-permission-offer-response/RealmTasks%20Apple/Podfile.lock) (the latest version available when I made that branch), so please try updating to Realm Swift 2.4.2 and Realm Object Server 1.0.3. You mentioned that you're using "Realm Object Server Version 2.4 (developer)" in your original comment here.

---

Switching gears a bit, you asked:

> It would be incredibly useful to be able to search for a user's ID using the client APIs, instead of sending a token by e.g. e-mail. Is this something that's on the roadmap?

To which @bigfish24 replied:

> Regarding your remarks, this is great feedback and we do have on our roadmap to expose a user search API. Right now it is annoying that the developer has to manage this. Also agree on standardizing on the URL.

What Adam said is correct, but I just want to make sure you understood that Realm provides all the functionality you need to build a user discovery mechanism yourself today, without having to wait for us to offer a packaged feature specifically for that. For example, you could use the Node.js SDK to maintain a synchronized user Realm that all users have access to. Alternatively, you could expose some RESTful endpoints via the Node.js SDK to perform this user discovery too.

---

Finally,  you asked:

> In `SyncConfiguration` realmURL is of type URL, while in `SyncPermissionOffer` realmURL is of type String. Wouldn't it be more consistent when these properties are of the same type?

The reason why we went with a string for the `SyncPermissionOffer.realmURL` property is that, unlike the URLs on `SyncConfiguration`, its value doesn't have to be a fully-qualified URL conforming to [RFC 1808](https://tools.ietf.org/html/rfc1808), [RFC 1738](https://tools.ietf.org/html/rfc1738), and [RFC 2732](https://tools.ietf.org/html/rfc2732). For example, you could pass a relative URL, which wouldn't be representable by `NSURL`/`Swift.URL`.

Thanks for the great feedback!
The use of Notifications is completely clear now and, indeed, it was sufficiently documented in the Realm documentation.  

I haven't looked to the Node.js SDK yet, but I will give it a try soon. It is good to know that most functionality is already available!

With respect to the assertion failure. Upgrading to the latest versions didn't help. The problem occurs when I try to open a shared Realm with a `realmURL` that is generated after PermissionOfferResponse was processed by the user's management Realm.  
I will spent some more time on this myself, but hopefully I may submit a new issue or question on SO when I do not succeed to solve this (since it doesn't belong to this "issue").

Many thanks for the help and keep up te good work! 

I'm glad to hear that at least this issue is resolved for your needs. Please file new issues for anything else you encounter 😄 

@Taco55 Whatever you do you should not be able to hit core assertions, so that's definitely a bug. Bugs should defintely be created as github issues, so please do so with as many details as possible so we can reproduce. Should you have an example app that does, that's of course gold for us! Thanks!

@bmunkholm yes and no. That assertion isn't a bug, but it should be replaced with a better error message. We're already tracking that.

I submitted a new issue related to the assertion error at #136 