Client repeatedly outputs "Reading failed: End of input" / Realm Browser can't connect on port 9443/HTTPS

I'm trying to connect my client app to a Realm Object Server, it seems to be successful (no errors doing reads or writes to the Realm) but the client debug output is showing a connection error that repeats forever as long as the app is running.

The server is running on Ubuntu 16.04, deployed on Digital Ocean. I have HTTPS proxy enabled  with valid certificates. Server dashboard loads in the browser ok.

Running the same client app but pointing to a local server (via HTTP) works fine and does not produce this error output.


Client output:
```
2017-01-18 00:59:18.596 Hindsight[42960:778372] Sync: Opening Realm file: /Users/ehsan/Library/Developer/CoreSimulator/Devices/5DE30CB2-DC16-412E-8B8B-6EB79AD49147/data/Containers/Data/Application/6A07F36F-D34A-4AE6-9B8E-4D76D6711D6C/Documents/realm-object-server/d91489eca0fb02c8a49ed3c609d75da2/realm%3A%2F%2Fdb.server.com%3A9443%2F%7E%2Fhindsight
2017-01-18 00:59:18.596 Hindsight[42960:778372] Sync: Connection[1]: Session[1]: Starting session for '/Users/ehsan/Library/Developer/CoreSimulator/Devices/5DE30CB2-DC16-412E-8B8B-6EB79AD49147/data/Containers/Data/Application/6A07F36F-D34A-4AE6-9B8E-4D76D6711D6C/Documents/realm-object-server/d91489eca0fb02c8a49ed3c609d75da2/realm%3A%2F%2Fdb.server.com%3A9443%2F%7E%2Fhindsight'
2017-01-18 00:59:18.597 Hindsight[42960:778372] Sync: Connection[1]: Resolving 'db.server.com:9443'
2017-01-18 00:59:18.598 Hindsight[42960:778372] Sync: Connection[1]: Connecting to endpoint '1.2.3.4:9443' (1/1)
2017-01-18 00:59:18.610 Hindsight[42960:778372] Sync: Connection[1]: Connected to endpoint '1.2.3.4:9443' (from '10.0.1.3:58129')
2017-01-18 00:59:18.627 Hindsight[42960:778372] Sync: Connection[1]: Reading failed: End of input
2017-01-18 00:59:18.627 Hindsight[42960:778372] Sync: Connection[1]: Connection closed due to error
2017-01-18 00:59:19.593 Hindsight[42960:778372] Sync: Connection[1]: Resolving 'db.server.com:9443'
2017-01-18 00:59:19.594 Hindsight[42960:778372] Sync: Connection[1]: Connecting to endpoint '1.2.3.4:9443' (1/1)
2017-01-18 00:59:19.609 Hindsight[42960:778372] Sync: Connection[1]: Connected to endpoint '1.2.3.4:9443' (from '10.0.1.3:58133')
2017-01-18 00:59:19.627 Hindsight[42960:778372] Sync: Connection[1]: Reading failed: End of input
2017-01-18 00:59:19.628 Hindsight[42960:778372] Sync: Connection[1]: Connection closed due to error
```

The last 5 lines repeat forever as long as the app is running. 

Server log (debug level) starting from before app launch:
```
2017-01-18T06:07:32.495Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 857 - 9.549 ms
```

Server log when loading the web dashboard:
```
2017-01-18T06:08:53.758Z - debug: http:  127.0.0.1 - GET / HTTP/1.1 304 - - 1.994 ms
2017-01-18T06:08:53.833Z - debug: http:  127.0.0.1 - GET /styles/main.6d6f2e19.css HTTP/1.1 304 - - 4.966 ms
2017-01-18T06:08:53.834Z - debug: http:  127.0.0.1 - GET /styles/vendor.e0d0c1f9.css HTTP/1.1 304 - - 5.388 ms
2017-01-18T06:08:53.863Z - debug: http:  127.0.0.1 - GET /scripts/vendor.c46e4f9a.js HTTP/1.1 304 - - 0.873 ms
2017-01-18T06:08:53.901Z - debug: http:  127.0.0.1 - GET /vendor/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2 HTTP/1.1 304 - - 1.894 ms
2017-01-18T06:08:53.902Z - debug: http:  127.0.0.1 - GET /scripts/scripts.07d02010.js HTTP/1.1 304 - - 2.133 ms
2017-01-18T06:08:53.912Z - debug: http:  127.0.0.1 - GET /images/logoWordmarkH.5816723e.png HTTP/1.1 304 - - 0.435 ms
2017-01-18T06:08:54.060Z - debug: http:  127.0.0.1 - GET /api/info HTTP/1.1 304 - - 3.054 ms
2017-01-18T06:08:54.074Z - debug: http:  127.0.0.1 - GET /views/users.html HTTP/1.1 304 - - 0.563 ms
2017-01-18T06:08:54.165Z - debug: http:  127.0.0.1 - GET /views/users.list.html HTTP/1.1 304 - - 1.772 ms
2017-01-18T06:08:54.167Z - debug: http:  127.0.0.1 - GET /favicon.ico HTTP/1.1 200 5430 - 4.387 ms
2017-01-18T06:08:54.238Z - debug: http:  127.0.0.1 - GET /api/users HTTP/1.1 304 - - 2.313 ms
```

What could be causing the client output errors?

@ewerx, can you please specify which version of the Realm Object Server and which version of the binding you are using?
Could you also share server logs from when the app connects to the server?

Thank you!

Server: 1.0.0-BETA-4.11
Client SDK: v2.2.0

This is the server output when I authenticate from scratch (using CloudKit):

```
2017-01-18T15:50:30.518Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 704 - 37.762 ms
2017-01-18T15:50:30.521Z - debug: sync-server: Connection[1]: stage_payload
2017-01-18T15:50:30.522Z - debug: sync-server: Connection[1]: websocket message received: 'upload 2 74 46 610 64684230504
�eyJpZGVudGl0eSI6ImQ5MTQ4OWVjYTBmYjAyYzhhNDllZDNjNjA5ZDc1ZGEyIiwiZXhwaXJlcyI6MTgwMDExNDYzMCwiYXBwX2lkIjoiY2EuZXdlcnguaGluZHNpZ2h0IiwiYWNjZXNzIjpbInJlZnJlc2giXSwic2FsdCI6MC4zNzU0MDE4NTAwOTEyOTM0NX0=:xtSDZHZITX2Wzyw4wOSq48BbFqE+TdOqpcoqEUD8A9xqRL+HhNJYqosr+5hud6KSrvwiMjRh0KTmlARiN/CU8Ght9Sb4tlg02lQXmG0OsIEUdn/SanDQ3D+O6Jfa9AvHsWesTmDAbQlOTyTa/AcAsIvg4PjmpRo8H9gt7Kx8L7EFrp9Jn8bo0mrqlKQu4nYwn97fKqRreFgPDWGT6s0Xw4YUxCLVOXnudkK6DrVKnyvLtyL4ogyjeRu4bnkrUN2axYAh9m9DNXa1J5Ky4EH8YwQ9eSwOntFBQ7bfCKI5YrW6bLK/UjOTFSK8goqG3eeR70SDRt+16tPBw6D8KL8NyQ=ƣ��@
     ca.ewerx.hindsight '
2017-01-18T15:50:30.522Z - detail: sync-server: Connection[1]: Session[2]: Received: UPLOAD(client_version=74, server_version=46, changeset_size=610, timestamp=64684230504)
2017-01-18T15:50:30.522Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/user_data/__admin.realm
2017-01-18T15:50:30.522Z - detail: sync-server: Connection[1]: Session[2]: Remote changeset integrated, producing server version 47
2017-01-18T15:50:30.522Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/user_data/__admin.realm
2017-01-18T15:50:30.522Z - detail: sync-server: Connection[1]: Session[2]: Sending: DOWNLOAD(scan_server_version=47, scan_client_version=74, latest_server_version=47, latest_server_session_ident=6745412262280043004, latest_client_version=74, inserted_changeset_count=0, is_body_compressed=0, body_size=0, compressed_body_size=0)
2017-01-18T15:50:30.522Z - debug: sync-server: Connection[1]: stage_delivery
2017-01-18T15:50:30.522Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/user_data/__admin.realm
2017-01-18T15:50:30.523Z - debug: sync-server: Connection[1]: Session[1]: Download message compression (body_size=634, compressed_bound=647, compressed_body_size=553).
2017-01-18T15:50:30.523Z - detail: sync-server: Connection[1]: Session[1]: Sending: DOWNLOAD(scan_server_version=47, scan_client_version=65, latest_server_version=47, latest_server_session_ident=6745412262280043004, latest_client_version=65, inserted_changeset_count=1, is_body_compressed=1, body_size=634, compressed_body_size=553)
2017-01-18T15:50:30.523Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-18T15:50:30.523Z - detail: client: Connection[1]: Session[2]: Sending: UPLOAD(client_version=74, server_version=46, changeset_size=610, timestamp=64684230504)
2017-01-18T15:50:30.523Z - debug: client: Connection[1]: stage_payload
2017-01-18T15:50:30.523Z - debug: client: Connection[1]: websocket message received: download 2 47 74 47 6745412262280043004 74 0 0 0

2017-01-18T15:50:30.523Z - debug: client: Connection[1]: message_type = download
2017-01-18T15:50:30.523Z - detail: client: Connection[1]: Session[2]: Received: DOWNLOAD(scan_server_version=47, scan_client_version=74, latest_server_version=47, latest_server_session_ident=6745412262280043004, latest_client_version=74, is_body_compressed=0, uncompressed_body_size=0, compressed_body_size=0)
2017-01-18T15:50:30.528Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-18T15:50:30.529Z - debug: client: Connection[1]: stage_delivery
2017-01-18T15:50:30.529Z - debug: client: Connection[1]: stage_payload
2017-01-18T15:50:30.529Z - debug: client: Connection[1]: websocket message received: download 1 47 65 47 6745412262280043004 65 1 634 553
x�I��P
2017-01-18T15:50:30.529Z - debug: client: Connection[1]: message_type = download
2017-01-18T15:50:30.530Z - detail: client: Connection[1]: Session[1]: Received: DOWNLOAD(scan_server_version=47, scan_client_version=65, latest_server_version=47, latest_server_session_ident=6745412262280043004, latest_client_version=65, is_body_compressed=1, uncompressed_body_size=634, compressed_body_size=553)
2017-01-18T15:50:30.530Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/permission/__admin.realm
2017-01-18T15:50:30.530Z - detail: client: Connection[1]: Session[1]: 1 remote changeset integrated, producing client version 67
2017-01-18T15:50:30.530Z - debug: client: Connection[1]: stage_delivery
2017-01-18T15:50:30.647Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 857 - 10.138 ms
2017-01-18T15:50:30.648Z - debug: sync-server: Connection[1]: stage_payload
2017-01-18T15:50:30.648Z - debug: sync-server: Connection[1]: websocket message received: 'upload 2 76 47 11 64684230638
 '
2017-01-18T15:50:30.648Z - detail: sync-server: Connection[1]: Session[2]: Received: UPLOAD(client_version=76, server_version=47, changeset_size=11, timestamp=64684230638)
2017-01-18T15:50:30.648Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/user_data/__admin.realm
2017-01-18T15:50:30.648Z - detail: sync-server: Connection[1]: Session[2]: Remote changeset integrated, producing server version 48
2017-01-18T15:50:30.649Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/user_data/__admin.realm
2017-01-18T15:50:30.649Z - detail: sync-server: Connection[1]: Session[2]: Sending: DOWNLOAD(scan_server_version=48, scan_client_version=76, latest_server_version=48, latest_server_session_ident=6745412262280043004, latest_client_version=76, inserted_changeset_count=0, is_body_compressed=0, body_size=0, compressed_body_size=0)
2017-01-18T15:50:30.649Z - debug: sync-server: Connection[1]: stage_delivery
2017-01-18T15:50:30.650Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/user_data/__admin.realm
2017-01-18T15:50:30.650Z - debug: sync-server: Connection[1]: Session[1]: Download message compression (body_size=34, compressed_bound=47, compressed_body_size=42).
2017-01-18T15:50:30.650Z - detail: sync-server: Connection[1]: Session[1]: Sending: DOWNLOAD(scan_server_version=48, scan_client_version=65, latest_server_version=48, latest_server_session_ident=6745412262280043004, latest_client_version=65, inserted_changeset_count=1, is_body_compressed=0, body_size=34, compressed_body_size=0)
2017-01-18T15:50:30.650Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-18T15:50:30.650Z - detail: client: Connection[1]: Session[2]: Sending: UPLOAD(client_version=76, server_version=47, changeset_size=11, timestamp=64684230638)
2017-01-18T15:50:30.650Z - debug: client: Connection[1]: stage_payload
2017-01-18T15:50:30.650Z - debug: client: Connection[1]: websocket message received: download 2 48 76 48 6745412262280043004 76 0 0 0

2017-01-18T15:50:30.650Z - debug: client: Connection[1]: message_type = download
2017-01-18T15:50:30.650Z - detail: client: Connection[1]: Session[2]: Received: DOWNLOAD(scan_server_version=48, scan_client_version=76, latest_server_version=48, latest_server_session_ident=6745412262280043004, latest_client_version=76, is_body_compressed=0, uncompressed_body_size=0, compressed_body_size=0)
2017-01-18T15:50:30.650Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-18T15:50:30.650Z - debug: client: Connection[1]: stage_delivery
2017-01-18T15:50:30.651Z - debug: client: Connection[1]: stage_payload
2017-01-18T15:50:30.651Z - debug: client: Connection[1]: websocket message received: download 1 48 65 48 6745412262280043004 65 0 34 0
48 65 64684230638 1 11
2017-01-18T15:50:30.651Z - debug: client: Connection[1]: message_type = download
2017-01-18T15:50:30.651Z - detail: client: Connection[1]: Session[1]: Received: DOWNLOAD(scan_server_version=48, scan_client_version=65, latest_server_version=48, latest_server_session_ident=6745412262280043004, latest_client_version=65, is_body_compressed=0, uncompressed_body_size=34, compressed_body_size=0)
2017-01-18T15:50:30.651Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/permission/__admin.realm
2017-01-18T15:50:30.651Z - detail: client: Connection[1]: Session[1]: 1 remote changeset integrated, producing client version 68
2017-01-18T15:50:30.651Z - debug: client: Connection[1]: stage_delivery
```



Could you share a minimal testcase that reproduces this against the latest version of the server? Thanks.

I updated to latest version of the server (1.0.0-164) and client (2.3.0) and am still seeing this.

All I am doing is instantiating a realm with a sync config. The user was already authenticated (via CloudKit) in a previous session, so I am just using SyncUser.current. But I tested logging out and re-authenticating and it makes no difference. 

I commented out everything else, so this is literally all the client does in the initial view controller:

```
    override func viewDidLoad() {
        super.viewDidLoad()
        
        if let user = SyncUser.current {
            let syncRealmURL = URL(string: "realm://myserver.com:9443/~/hindsight")!
            var config = Realm.Configuration(syncConfiguration: SyncConfiguration(user: user, realmURL: syncRealmURL))
            config.schemaVersion = 1
            Realm.Configuration.defaultConfiguration = config
            do {
                let realm = try Realm()
            } catch (let error) {
                print(error)
            }
        }
}
```

Here's the client output:

```
2017-01-20 12:29:43.129 Hindsight[92934:2378883] Sync: Opening Realm file: /Users/ehsan/Library/Developer/CoreSimulator/Devices/5DE30CB2-DC16-412E-8B8B-6EB79AD49147/data/Containers/Data/Application/90A2EA77-6B2B-4559-A830-1659F9AE0E66/Documents/realm-object-server/ee737769da8e42e5d8e4dfb5d20cea36/realm%3A%2F%2Fmyserver.com%3A9443%2F%7E%2Fhindsight
2017-01-20 12:29:43.240 Hindsight[92934:2378883] Sync: Connection[1]: Session[1]: Starting session for '/Users/ehsan/Library/Developer/CoreSimulator/Devices/5DE30CB2-DC16-412E-8B8B-6EB79AD49147/data/Containers/Data/Application/90A2EA77-6B2B-4559-A830-1659F9AE0E66/Documents/realm-object-server/ee737769da8e42e5d8e4dfb5d20cea36/realm%3A%2F%2Fmyserver.com%3A9443%2F%7E%2Fhindsight'
2017-01-20 12:29:43.241 Hindsight[92934:2378883] Sync: Connection[1]: Resolving 'db.hindsightapp.io:9443'
2017-01-20 12:29:43.242 Hindsight[92934:2378883] Sync: Connection[1]: Connecting to endpoint '159.203.59.160:9443' (1/1)
2017-01-20 12:29:43.254 Hindsight[92934:2378883] Sync: Connection[1]: Connected to endpoint '159.203.59.160:9443' (from '10.0.1.3:55315')
2017-01-20 12:29:43.271 Hindsight[92934:2378883] Sync: Connection[1]: Writing failed: End of input
2017-01-20 12:29:43.271 Hindsight[92934:2378883] Sync: Connection[1]: Connection closed due to error
2017-01-20 12:29:44.194 Hindsight[92934:2378883] Sync: Connection[1]: Resolving 'db.hindsightapp.io:9443'
2017-01-20 12:29:44.195 Hindsight[92934:2378883] Sync: Connection[1]: Connecting to endpoint '159.203.59.160:9443' (1/1)
2017-01-20 12:29:44.210 Hindsight[92934:2378883] Sync: Connection[1]: Connected to endpoint '159.203.59.160:9443' (from '10.0.1.3:55321')
2017-01-20 12:29:44.225 Hindsight[92934:2378883] Sync: Connection[1]: Writing failed: End of input
2017-01-20 12:29:44.226 Hindsight[92934:2378883] Sync: Connection[1]: Connection closed due to error
2017-01-20 12:29:45.096 Hindsight[92934:2378883] Sync: Connection[1]: Resolving 'db.hindsightapp.io:9443'
2017-01-20 12:29:45.099 Hindsight[92934:2378883] Sync: Connection[1]: Connecting to endpoint '159.203.59.160:9443' (1/1)
2017-01-20 12:29:45.114 Hindsight[92934:2378883] Sync: Connection[1]: Connected to endpoint '159.203.59.160:9443' (from '10.0.1.3:55323')
2017-01-20 12:29:45.131 Hindsight[92934:2378883] Sync: Connection[1]: Writing failed: End of input
2017-01-20 12:29:45.131 Hindsight[92934:2378883] Sync: Connection[1]: Connection closed due to error
2017-01-20 12:29:46.117 Hindsight[92934:2378883] Sync: Connection[1]: Resolving 'db.hindsightapp.io:9443'
2017-01-20 12:29:46.118 Hindsight[92934:2378883] Sync: Connection[1]: Connecting to endpoint '159.203.59.160:9443' (1/1)
2017-01-20 12:29:46.132 Hindsight[92934:2378883] Sync: Connection[1]: Connected to endpoint '159.203.59.160:9443' (from '10.0.1.3:55326')
2017-01-20 12:29:46.149 Hindsight[92934:2378883] Sync: Connection[1]: Writing failed: End of input
2017-01-20 12:29:46.149 Hindsight[92934:2378883] Sync: Connection[1]: Connection closed due to error
```
which repeats until shutting down the client.


Here's the server output (there was no other output before or after launching the client):
```
2017-01-20T17:29:43.233Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 857 - 11.348 ms
```

Note this only started happening with the Ubuntu server running on DigitalOcean and was not happening when I was testing against the macOS server running locally.

I'm also unable to connect to the Realm Object Server using the Realm Browser. It immediately pops up an alert "The network connection was lost.", and no logs are generated on the server. Could this be related?

@ewerx What is `1.0.0-164`? Is that the non-beta 1.0 version?

@teotwaki Correct that's the latest non-beta release on Ubuntu.

```
$ dpkg -s realm-object-server-developer | grep Version
Version: 1.0.0-164
```

Update: this seems to be a HTTPS issue. My server was configured to use the HTTPS proxy and HTTP proxy was disabled. My certificates are valid and I am able to visit the web dashboard via HTTPS no problem and also authenticate from the client via HTTPS. 

The Realm Browser refuses to connect to my server on the HTTPS port 9443 (I enter `realm://myserver.com:9443` for Server URL). And the client shows the output above.

If I re-enable the HTTP proxy and switch to port 9080 everything works again. Realm Browser can connect to the server and client no longer outputs `Reading failed` errors.

Here is console log output from Realm Browser when I try to connect to the server on port 9443:

```
default	11:00:58.465704 -0500	Realm Browser	TIC TCP Conn Start [6:0x61800019eac0]
default	11:00:58.482829 -0500	Realm Browser	TIC TCP Conn Event [6:0x61800019eac0]: 1 Err(0)
default	11:00:58.482853 -0500	Realm Browser	TIC TCP Conn Connected [6:0x61800019eac0]: Err(0)
error	11:00:58.500820 -0500	Realm Browser	TIC Read Error [6:0x61800019eac0]: 1:57
default	11:00:58.500887 -0500	Realm Browser	TIC TCP Conn Cancel [6:0x61800019eac0]
default	11:00:58.500929 -0500	Realm Browser	TIC TCP Conn Destroyed [6:0x61800019eac0]
error	11:00:58.501057 -0500	Realm Browser	HTTP load failed (error code: -1005 [4:-4])
error	11:00:58.501126 -0500	Realm Browser	NSURLSessionTask finished with error - code: -1005
```



Interesting. Thanks for the update. What provider does your certificate come from? Is it self-signed?

My certificates are issued by letsencrypt.org. When I visit my server's web dashboard on port 9443 everything seems ok:

![screen shot 2017-01-24 at 11 56 03](https://cloud.githubusercontent.com/assets/671604/22257532/5dcd63fc-e22c-11e6-85e8-e61df8405103.png)



Another bit of info: if I connect to the server using Realm Browser on port 9080, the initial connection is successful but then if I try to open a realm I get "Realm couldn't be opened" and the connection is closed.

Here is the scrubbed server log (from start of Realm Browser connection until connection closed):

```
2017-01-24T19:46:24.432Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 711 - 2301.235 ms
2017-01-24T19:46:24.435Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.435Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.436Z - detail: client: Connection[1]: Session[1]: Sending: UPLOAD(client_version=86, server_version=53, changeset_size=617, timestamp=65216784427)
2017-01-24T19:46:24.439Z - detail: sync-server: Connection[3]: Session[1]: Received: UPLOAD(client_version=86, server_version=53, changeset_size=617, timestamp=65216784427)
2017-01-24T19:46:24.440Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.440Z - detail: sync-server: Connection[3]: Session[1]: Remote changeset integrated, producing server version 54
2017-01-24T19:46:24.440Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.440Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=54, scan_client_version=2, latest_server_version=54, latest_server_session_ident=6745196595411714589, latest_client_version=2, inserted_changeset_count=1, is_body_compressed=0, body_size=640, compressed_body_size=0)
2017-01-24T19:46:24.440Z - detail: sync-server: Connection[5]: Session[1]: Sending: DOWNLOAD(scan_server_version=53, scan_client_version=2, latest_server_version=54, latest_server_session_ident=6745196595411714589, latest_client_version=2, number of changesets=1, downloadable_bytes=11791)
2017-01-24T19:46:24.440Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.441Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=54, scan_client_version=86, latest_server_version=54, latest_server_session_ident=6745196595411714589, latest_client_version=86, inserted_changeset_count=0, is_body_compressed=0, body_size=0, compressed_body_size=0)
2017-01-24T19:46:24.441Z - detail: sync-server: Connection[3]: Session[1]: Sending: DOWNLOAD(scan_server_version=53, scan_client_version=84, latest_server_version=54, latest_server_session_ident=6745196595411714589, latest_client_version=86, number of changesets=0, downloadable_bytes=459)
2017-01-24T19:46:24.442Z - debug: client: message_type = download
2017-01-24T19:46:24.444Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=640
2017-01-24T19:46:24.449Z - detail: client: Connection[2]: Session[1]: Received: DOWNLOAD(scan_server_version=54, scan_client_version=2, latest_server_version=54, latest_server_session_ident=6745196595411714589, latest_client_version=2, downloadable_bytes=11791, number_of_changesets=1)
2017-01-24T19:46:24.449Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:24.449Z - detail: client: Connection[2]: Session[1]: 1 remote changeset integrated, producing client version 43
2017-01-24T19:46:24.449Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:24.450Z - debug: client: message_type = download
2017-01-24T19:46:24.450Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=0
2017-01-24T19:46:24.451Z - detail: client: Connection[1]: Session[1]: Received: DOWNLOAD(scan_server_version=54, scan_client_version=86, latest_server_version=54, latest_server_session_ident=6745196595411714589, latest_client_version=86, downloadable_bytes=459, number_of_changesets=0)
2017-01-24T19:46:24.451Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.452Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.513Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 777 - 8.303 ms
2017-01-24T19:46:24.514Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.514Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.514Z - detail: client: Connection[1]: Session[1]: Sending: UPLOAD(client_version=88, server_version=54, changeset_size=11, timestamp=65216784506)
2017-01-24T19:46:24.517Z - detail: sync-server: Connection[3]: Session[1]: Received: UPLOAD(client_version=88, server_version=54, changeset_size=11, timestamp=65216784506)
2017-01-24T19:46:24.517Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.517Z - detail: sync-server: Connection[3]: Session[1]: Remote changeset integrated, producing server version 55
2017-01-24T19:46:24.518Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.518Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=55, scan_client_version=2, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=2, inserted_changeset_count=1, is_body_compressed=0, body_size=33, compressed_body_size=0)
2017-01-24T19:46:24.518Z - detail: sync-server: Connection[5]: Session[1]: Sending: DOWNLOAD(scan_server_version=54, scan_client_version=2, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=2, number of changesets=1, downloadable_bytes=11802)
2017-01-24T19:46:24.518Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.518Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=55, scan_client_version=88, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=88, inserted_changeset_count=0, is_body_compressed=0, body_size=0, compressed_body_size=0)
2017-01-24T19:46:24.518Z - detail: sync-server: Connection[3]: Session[1]: Sending: DOWNLOAD(scan_server_version=54, scan_client_version=86, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=88, number of changesets=0, downloadable_bytes=459)
2017-01-24T19:46:24.520Z - debug: client: message_type = download
2017-01-24T19:46:24.521Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=33
2017-01-24T19:46:24.521Z - detail: client: Connection[2]: Session[1]: Received: DOWNLOAD(scan_server_version=55, scan_client_version=2, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=2, downloadable_bytes=11802, number_of_changesets=1)
2017-01-24T19:46:24.521Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:24.522Z - detail: client: Connection[2]: Session[1]: 1 remote changeset integrated, producing client version 44
2017-01-24T19:46:24.522Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:24.524Z - debug: client: message_type = download
2017-01-24T19:46:24.524Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=0
2017-01-24T19:46:24.524Z - detail: client: Connection[1]: Session[1]: Received: DOWNLOAD(scan_server_version=55, scan_client_version=88, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=88, downloadable_bytes=459, number_of_changesets=0)
2017-01-24T19:46:24.524Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.524Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:24.553Z - debug: proxy attempting to upgrade client ::ffff:192.222.142.2:41520 => headers: {"connection":"Upgrade","host":"myserver.com","sec-websocket-key":"36WwMfWRaQP+2u0j6FxMAw==","sec-websocket-protocol":"io.realm.protocol","sec-websocket-version":"13","upgrade":"websocket","x-realm-access-token":"eyJpZGVudGl0eSI6ImNhMDFiNGE3ZGFhNmFlZjg0Y2E3MDMwMWQ2NDY4MTkxIiwicGF0aCI6Ii9fX2FkbWluIiwiZXhwaXJlcyI6MTQ4NTI4NzI0NSwiYXBwX2lkIjoiaW8ucmVhbG0ucmVhbG1icm93c2VyIiwiYWNjZXNzIjpbImRvd25sb2FkIiwidXBsb2FkIiwibWFuYWdlIl19:NQe6GqyjpksQ34jdZejPUiDJs01mKaoNS7sT31Oqy5U4YeNseFva8WqzQZspkI+MrYyMYdsPtPJVhqz6F7aE8MQrBckV8qNEcQgW/LdcZEr/RI/yGN/daU+P0ihQrkfOuSuj6+SM160XgfxrIjvFt0SPbepAVhsd4IPZ8Kvj9PRRBN5XuewRdcEpwCzEQvkQYwNoaFw3I1o+eM77C4YuCv0zrk3BcpvT5NljNuF4aYDPbsnrTZgRhi0fS9c+ebTyxEIaV3UX2Gt2E+RLbazxsu0TDvLEdVQ/GX34HV9Xb5TTl7posFag0hnTmPTbc4QLtr37FBjg+kEI29XmchQ7yQ==","x-realm-path":"/__admin","x-realm-protocol-version":"16"}.}
2017-01-24T19:46:24.556Z - info: sync-server: Connection[12]: Connection from 127.0.0.1:34816
2017-01-24T19:46:24.557Z - debug: sync-server: Connection[12]: WebSocket::initiate_server_handshake()
2017-01-24T19:46:24.557Z - debug: sync-server: Connection[13]: WebSocket::Websocket()
2017-01-24T19:46:24.558Z - info: sync-server: Connection[12]: Received: HTTP request(protocol_version=16)
2017-01-24T19:46:24.576Z - info: sync-server: Connection[12]: Session[1]: Session initiated (session_ident=1).
2017-01-24T19:46:24.576Z - info: sync-server: Connection[12]: Session[1]: Received: BIND(server_path=/__admin, signed_user_token='...Tbc4QLtr37FBjg+kEI29XmchQ7yQ==', need_file_ident_pair=0)
2017-01-24T19:46:24.628Z - info: sync-server: Connection[12]: Session[1]: Received: IDENT(server_file_ident=890753716309459586, client_file_ident=3, client_file_ident_secret=5719310144068126842, scan_server_version=51, scan_client_version=0, latest_server_version=51, latest_server_session_ident=6745196595411714589)
2017-01-24T19:46:24.628Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.629Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:24.629Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=55, scan_client_version=0, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=0, inserted_changeset_count=4, is_body_compressed=1, body_size=1346, compressed_body_size=927)
2017-01-24T19:46:24.630Z - detail: sync-server: Connection[12]: Session[1]: Sending: DOWNLOAD(scan_server_version=51, scan_client_version=0, latest_server_version=55, latest_server_session_ident=6745196595411714589, latest_client_version=0, number of changesets=4, downloadable_bytes=12261)
2017-01-24T19:46:37.398Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 711 - 2867.388 ms
2017-01-24T19:46:37.400Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.400Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.400Z - detail: client: Connection[1]: Session[1]: Sending: UPLOAD(client_version=90, server_version=55, changeset_size=617, timestamp=65216797395)
2017-01-24T19:46:37.403Z - detail: sync-server: Connection[3]: Session[1]: Received: UPLOAD(client_version=90, server_version=55, changeset_size=617, timestamp=65216797395)
2017-01-24T19:46:37.403Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.404Z - detail: sync-server: Connection[3]: Session[1]: Remote changeset integrated, producing server version 56
2017-01-24T19:46:37.404Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.404Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=56, scan_client_version=2, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=2, inserted_changeset_count=1, is_body_compressed=0, body_size=640, compressed_body_size=0)
2017-01-24T19:46:37.404Z - detail: sync-server: Connection[5]: Session[1]: Sending: DOWNLOAD(scan_server_version=55, scan_client_version=2, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=2, number of changesets=1, downloadable_bytes=12419)
2017-01-24T19:46:37.405Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.405Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=56, scan_client_version=90, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=90, inserted_changeset_count=0, is_body_compressed=0, body_size=0, compressed_body_size=0)
2017-01-24T19:46:37.405Z - detail: sync-server: Connection[3]: Session[1]: Sending: DOWNLOAD(scan_server_version=55, scan_client_version=88, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=90, number of changesets=0, downloadable_bytes=459)
2017-01-24T19:46:37.405Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.405Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=56, scan_client_version=0, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=0, inserted_changeset_count=1, is_body_compressed=0, body_size=640, compressed_body_size=0)
2017-01-24T19:46:37.405Z - detail: sync-server: Connection[12]: Session[1]: Sending: DOWNLOAD(scan_server_version=55, scan_client_version=0, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=0, number of changesets=1, downloadable_bytes=12878)
2017-01-24T19:46:37.408Z - info: sync-server: Connection[12]: Session[1]: Session terminated (session_ident=1).
2017-01-24T19:46:37.409Z - info: sync-server: Connection[12]: Connection closed by client: End of input
2017-01-24T19:46:37.409Z - debug: client: message_type = download
2017-01-24T19:46:37.409Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=640
2017-01-24T19:46:37.410Z - detail: client: Connection[2]: Session[1]: Received: DOWNLOAD(scan_server_version=56, scan_client_version=2, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=2, downloadable_bytes=12419, number_of_changesets=1)
2017-01-24T19:46:37.410Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:37.410Z - detail: client: Connection[2]: Session[1]: 1 remote changeset integrated, producing client version 45
2017-01-24T19:46:37.410Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:37.410Z - debug: client: message_type = download
2017-01-24T19:46:37.410Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=0
2017-01-24T19:46:37.411Z - detail: client: Connection[1]: Session[1]: Received: DOWNLOAD(scan_server_version=56, scan_client_version=90, latest_server_version=56, latest_server_session_ident=6745196595411714589, latest_client_version=90, downloadable_bytes=459, number_of_changesets=0)
2017-01-24T19:46:37.411Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.412Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.448Z - debug: http:  127.0.0.1 - POST /auth HTTP/1.1 200 895 - 6.565 ms
2017-01-24T19:46:37.449Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.449Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.449Z - detail: client: Connection[1]: Session[1]: Sending: UPLOAD(client_version=92, server_version=56, changeset_size=11, timestamp=65216797442)
2017-01-24T19:46:37.452Z - detail: sync-server: Connection[3]: Session[1]: Received: UPLOAD(client_version=92, server_version=56, changeset_size=11, timestamp=65216797442)
2017-01-24T19:46:37.452Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.452Z - detail: sync-server: Connection[3]: Session[1]: Remote changeset integrated, producing server version 57
2017-01-24T19:46:37.453Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.453Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=57, scan_client_version=2, latest_server_version=57, latest_server_session_ident=6745196595411714589, latest_client_version=2, inserted_changeset_count=1, is_body_compressed=0, body_size=33, compressed_body_size=0)
2017-01-24T19:46:37.453Z - detail: sync-server: Connection[5]: Session[1]: Sending: DOWNLOAD(scan_server_version=56, scan_client_version=2, latest_server_version=57, latest_server_session_ident=6745196595411714589, latest_client_version=2, number of changesets=1, downloadable_bytes=12430)
2017-01-24T19:46:37.453Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/__admin.realm
2017-01-24T19:46:37.453Z - detail: sync-server: Sending: DOWNLOAD(scan_server_version=57, scan_client_version=92, latest_server_version=57, latest_server_session_ident=6745196595411714589, latest_client_version=92, inserted_changeset_count=0, is_body_compressed=0, body_size=0, compressed_body_size=0)
2017-01-24T19:46:37.453Z - detail: sync-server: Connection[3]: Session[1]: Sending: DOWNLOAD(scan_server_version=56, scan_client_version=90, latest_server_version=57, latest_server_session_ident=6745196595411714589, latest_client_version=92, number of changesets=0, downloadable_bytes=459)
2017-01-24T19:46:37.456Z - debug: client: message_type = download
2017-01-24T19:46:37.456Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=33
2017-01-24T19:46:37.457Z - detail: client: Connection[2]: Session[1]: Received: DOWNLOAD(scan_server_version=57, scan_client_version=2, latest_server_version=57, latest_server_session_ident=6745196595411714589, latest_client_version=2, downloadable_bytes=12430, number_of_changesets=1)
2017-01-24T19:46:37.457Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:37.457Z - detail: client: Connection[2]: Session[1]: 1 remote changeset integrated, producing client version 46
2017-01-24T19:46:37.457Z - detail: client: Using already open Realm file: ./realm-object-server/listener/__admin.realm
2017-01-24T19:46:37.457Z - debug: client: message_type = download
2017-01-24T19:46:37.457Z - debug: client: Download message compression: is_body_compressed = 0, compressed_body_size=0, uncompressed_body_size=0
2017-01-24T19:46:37.457Z - detail: client: Connection[1]: Session[1]: Received: DOWNLOAD(scan_server_version=57, scan_client_version=92, latest_server_version=57, latest_server_session_ident=6745196595411714589, latest_client_version=92, downloadable_bytes=459, number_of_changesets=0)
2017-01-24T19:46:37.458Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.458Z - detail: client: Using already open Realm file: /var/lib/realm/object-server/internal_data/auth.realm
2017-01-24T19:46:37.488Z - debug: proxy attempting to upgrade client ::ffff:192.222.142.2:36461 => headers: {"connection":"Upgrade","host":"myserver.com","sec-websocket-key":"ncj6uI0C/1NMZMROPR54kg==","sec-websocket-protocol":"io.realm.protocol","sec-websocket-version":"13","upgrade":"websocket","x-realm-access-token":"eyJpZGVudGl0eSI6ImNhMDFiNGE3ZGFhNmFlZjg0Y2E3MD................................................................................lnaHQiLCJleHBpcmVzIjoxNDg1Mjg3MjU3LCJhcHBfaWQiOiJpby5yZWFsbS5yZWFsbWJyb3dzZXIiLCJhY2Nlc3MiOlsiZG93bmxvYWQiLCJ1cGxvYWQiLCJtYW5hZ2UiXX0=:gF8P+9j/yE7jgzW8n8GSiNDhqUu4shPv3LKyLhs9lgyEtnYakxjfYBrAmO................................................................................E3+xmb+O1PwVDcWx7jIAeTeW/TNgZ68/vT8Nda0ug8ZseJhsPn2ZR+N9qz1f8V6CGHRfleIo2ZnNtOsUXbpOYqfLNpv3AdK8rn8F5nubFsbDy7/hRbi6Fkf91k89G+yS2d3XM73VZLrE4SLIzjEBSJYjiSJcohRQqUzZyqGf3MKAo8Zq/lSsfSQ==","x-realm-path":"/ee737769da8e42e5d8e4dfb5d20cea36/hindsight","x-realm-protocol-version":"16"}.}
2017-01-24T19:46:37.491Z - info: sync-server: Connection[13]: Connection from 127.0.0.1:34824
2017-01-24T19:46:37.491Z - debug: sync-server: Connection[13]: WebSocket::initiate_server_handshake()
2017-01-24T19:46:37.492Z - debug: sync-server: Connection[14]: WebSocket::Websocket()
2017-01-24T19:46:37.493Z - info: sync-server: Connection[13]: Received: HTTP request(protocol_version=16)
2017-01-24T19:46:37.511Z - info: sync-server: Connection[13]: Session[1]: Session initiated (session_ident=1).
2017-01-24T19:46:37.512Z - info: sync-server: Connection[13]: Session[1]: Received: BIND(server_path=/ee737769da8e42e5d8e4dfb5d20cea36/hindsight, signed_user_token='...cohRQqUzZyqGf3MKAo8Zq/lSsfSQ==', need_file_ident_pair=0)
2017-01-24T19:46:37.563Z - info: sync-server: Connection[13]: Session[1]: Received: IDENT(server_file_ident=4785474578645060477, client_file_ident=1, client_file_ident_secret=6003090409690202894, scan_server_version=0, scan_client_version=0, latest_server_version=0, latest_server_session_ident=0)
2017-01-24T19:46:37.565Z - debug: sync-server: Using already open Realm file: /var/lib/realm/object-server/0/user_data/ee737769da8e42e5d8e4dfb5d20cea36/hindsight.realm
2017-01-24T19:46:42.424Z - info: sync-server: Connection[13]: Session[1]: Session terminated (session_ident=1).
2017-01-24T19:46:42.425Z - info: sync-server: Connection[13]: Connection closed by client: End of input
```

That's weird. We use SSL as well, and have tested with LE. I'll ask someone to look into this further.

@ewerx Could you post your configuration? We are unable to reproduce this at the moment. Thanks.

```bash
# Realm Object Server Configuration
#
# For each possible setting, the commented out values are the default values
# unless another default is mentioned explicitly.
#
# Paths specified in this file can be either absolute or relative.
# Relative paths are relative to the current working directory.


## ----------------------------------------------------------------------------
## The following options are MANDATORY, either by providing them in this file,
## or as command-line options:
## - storage: root_path
## - auth:public_key_path
## - auth:private_key_path
## ----------------------------------------------------------------------------


storage:
  ## The directory in which the realm server will store all its data files.
  ## This configuration option is MANDATORY.
  root_path: /var/lib/realm/object-server

## ----------------------------------------------------------------------------

auth:
  ## The path to the public and private keys (in PEM format) that will be used
  ## to validate identity tokens sent by clients.
  ## These configuration options are MANDATORY.
  public_key_path: /etc/realm/token-signature.pub
  private_key_path: /etc/realm/token-signature.key

  sync_hosts:
    ## The hosts for which the authentication service will consider itself
    ## authoritative. It will decline to process any kind of requests for Realm
    ## files at other URLs. Addresses specified here must include host and port
    ## (authority part of the URL according to RFC 3986) on which the sync
    ## server is externally reachable.

    ## Additionally if a proxy server for the given protocol is configured, it
    ## will also accept requests for Realm files at these hosts:
    # - ${proxy:http:listen_address}:${proxy:http:listen_port}
    # - ${proxy:https:listen_address}:${proxy:https:listen_port}

    ## The derived hosts will also include:
    ##    The aliases for local addresses with the following host names:
    ##     '127.0.0.1', 'localhost' and '::1'.
    ##    The addresses for each configured sync worker (Enterprise Edition)

  ttls:
    ## The validity duration for Refresh Tokens. This can be a fairly high
    ## value, ranging from a single day to multiple years, depending on
    ## individual needs. Whenever the Refresh Token expires, clients will be
    ## forced to delegate again to the authorizing party. If the credentials
    ## there can be revoked by the user or are not opaquely managed by the
    ## client, then this would force the user to manual intervention after the
    ## expiration. Depending on the use case, this can be either desired or
    ## should be prevented. This value is represented in seconds.
    ## Default: 10 years.
    # refresh_token: 315360000

    ## The validity duration for Access Tokens. This should be a fairly small
    ## number, especially if you are concerned with revocations being applied
    ## quickly. This value is represented in seconds. Default: 1 minute.
    # access_token: 60

  providers:
    ## Providers of authentication tokens. Each provider has a configuration
    ## object associated with it. If a provider is included here and its
    ## configuration is valid, it will be enabled.

    ## Possible providers: cloudkit, debug, google, facebook, realm, password
    ## Providers 'realm' and 'password' are always enabled:
    ## - The 'realm' provider is used to derive access tokens from a refresh token.
    ## - The 'password' provider is required for the dashboard to work. It supports
    ##   authentication through username/password and uses a PBKDF2 implementation.

    ## This enables login via CloudKit's user record name.
    cloudkit:
      ## The key ID retrieved when adding the public key derived from the
      ## specified private_key_path in CloudKit's Server-to-Server Keys,
      ## available through the API Access settings in the CloudKit dashboard.
      key_id: '<removed>'

      ## The path to the certificate.
      private_key_path: '/etc/realm/cloudkit_eckey.pem'

      ## The container identifier in reverse domain name notation.
      container: "<removed>"

      ## The environment in which CloudKit should be used. The default is
      ## 'development'. For the production deployment for apps on the AppStore
      ## you must specify 'production'.
      environment: 'development'

    ## This enables authentication via a Google Sign-In access token for a
    ## specific app.
    # google:
      ## The client ID as retrieved when setting up the app in the Google
      ## Developer Console.
      # clientId: '012345678901-abcdefghijklmnopqrstvuvwxyz01234.apps.googleusercontent.com'

    ## This enables authentication via a Facebook access token for a specific app.
    ## This provider needs no configuration (uncommenting the next line enables it).
    # facebook: {}

## ----------------------------------------------------------------------------

proxy:
  ## Network settings for the externally accessible proxy module.
  ## This can be enabled for both HTTP and HTTPS traffic simultaneously, and
  ## forwards traffic to the sync and services internal modules.
  ## It is possible to disable and replace the proxy module by another reverse proxy.
  ##
  ## Note: The proxy module forwards traffic to the internal modules on the
  ## addresses and ports they listen on (as configured in the `network' section below).
  ##
  ## Shown below is a diagram of the default network configuration:
  ##
  ##                                                                     +----------------------+
  ##                                                                     |                      |
  ##                                                                     |     Sync module      |
  ##                                                                     |                      |
  ##                                                                     |      (internal)      |
  ##                                                                     |                      |
  ##                                                                 +-> |  Defaults:           |
  ## +----------------+             +---------------------------+    |   |   Listen: 127.0.0.1  |
  ## |                |             |                           |    |   |   Ports:             |
  ## |  Realm Client  +------+      |        Proxy module       |    |   |    WS: tcp/27800     |
  ## |                |      |      |                           |    |   |                      |
  ## +-----------------      |      |  (externally accessible)  |    |   +----------------------+
  ##                         +----> |                           |    |
  ##                                |  Defaults:                |    |
  ##                         +----> |   Listen: 0.0.0.0         +----+
  ##      +------------      |      |   Ports:                  |    |   +----------------------+
  ##      |           |      |      |    HTTP & WS: tcp/9080    |    |   |                      |
  ##      |  Browser  +------+      |    HTTPS & WSS: tcp/9443  |    |   |    Services module   |
  ##      |           |             |                           |    |   |                      |
  ##      +-----------+             +---------------------------+    |   |      (internal)      |
  ##                                                                 +-> |                      |
  ##                                                                     |  Defaults:           |
  ##                            Note: The proxy module can be            |   Listen: 127.0.0.1  |
  ##                                  replaced by NGINX or other         |    Ports:            |
  ##                                  reverse proxies                    |     HTTP: tcp/27080  |
  ##                                                                     |                      |
  ##                                                                     +----------------------+

  http:
    ## Whether or not to enable the HTTP proxy module. It enables multiplexing requests
    ## by forwarding incoming requests on a single port to all services.
    enable: true

    ## The address/interface on which the HTTP proxy module should listen. This defaults
    ## to 127.0.0.1. If you wish to listen on all available interfaces,
    ## uncomment the following line.
    listen_address: '::'

    ## The port that the HTTP proxy module should bind to.
    # listen_port: 9080

  https:
    ## Whether or not to enable the HTTPS proxy module. It enables multiplexing requests
    ## by forwarding incoming requests on a single port to all services.
    ## Note that even if it enabled, the HTTPS proxy will only start if supplied
    ## with a valid pair of certificates through certificate_path and private_key_path below.
    enable: true

    ## The path to the certificate and private keys (in PEM format) that will be used
    ## to set up the HTTPS server accepting connections.
    ## These configuration options are MANDATORY to start the HTTPS proxy module.
    certificate_path: '/etc/letsencrypt/live/myserver.com/cert.pem'
    private_key_path: '/etc/letsencrypt/live/myserver.com/privkey.pem'

    ## The address/interface on which the HTTPS proxy module should listen. This defaults
    ## to 127.0.0.1. If you wish to listen on all available interfaces,
    ## uncomment the following line.
    listen_address: '::'

    ## The port that the HTTPS proxy module should bind to.
    # listen_port: 9443

## ----------------------------------------------------------------------------

network:
  ## Network settings for internal modules, to which traffic is forwarded from
  ## the proxy module. The proxy module will automatically forward traffic to the
  ## internal modules on the ports they are configured to listen on in this section.

  http:
    ## The address/interface on which the server should listen for HTTP
    ## services. This includes Dashboard and Authentication APIs.
    ## This defaults to 127.0.0.1. If you wish to listen on all available
    ## interfaces, uncomment the following line.
    # listen_address: '0.0.0.0'

    ## The port on which to listen for incoming requests to the Dashboard
    ## and authentication APIs. This defaults to 27080.
    # listen_port: 27080

## ----------------------------------------------------------------------------

sync:
  ## Enterprise Edition only:
  ## Synchronization service settings, including clustering and load balancing.

  servers:
    ## An array of entries describing the cluster configuration.
    ##
    ## If no servers are configured, a default entry is inserted with the
    ## following settings:
    ##   - id: '0'
    ##     address: '0.0.0.0'
    ##     port: 27800
    ##
    ## Each entry must contain the following entries:
    ##
    ##    'id': A unique string ID used to distinguish between backend servers.
    ##          This must remain stable, even if the particular backend server
    ##          is moved to a different address or port.
    ##
    ##    'address': The address of the cluster participant. If '0.0.0.0' or
    ##               '::', a sync server will be started on localhost (listening
    ##               on '127.0.0.1' or '::1', respectively). Otherwise, it is
    ##               assumed that the sync server is an external process,
    ##               potentially on a separate machine.
    ##
    ##    'port': The port on which to connect to the particular cluster node.
    ##            If address was '0.0.0.0' or '::', this is also the port number
    ##            on which the local cluster node will listen for connections.

## ----------------------------------------------------------------------------

logging:
  ## The logging level of the server.
  ##
  ## Note: This used to be an integer, but has been updated to be more
  ## descriptive. The integer values are no longer supported.
  ##
  ## Possible values (from most to least verbose):
  ##
  ##   all: no filtering
  ##   trace
  ##   debug
  ##   detail
  ##   info: good for production (default)
  ##   warn
  ##   error
  ##   fatal
  ##   off: all output suppressed
  level: 'debug'

  ## The file to which the synchronisation server should log. This should
  ## be a writable path from the perspective of the user under which the
  ## server runs. If no path is specified, the server will log to stdout.
  path: /var/log/realm-object-server.log

## ----------------------------------------------------------------------------

performance:
  ## The maximum number of Realm files that the server will have open
  ## concurrently (LRU cache). The default is 256.
  ## Only change this option if directed to by Realm support.
  # max_open_files: 256

## ----------------------------------------------------------------------------

backup:
  ## Enterprise Edition only:
  ## The backup is a server that delivers continuous backup of the Realms in
  ## storage.root_path specified above. The backup is delivered to all connected
  ## backup clients. Backup clients must be started separately with network
  ## configuration parameters matching those of the server.

  ## Whether or not to enable the backup server.
  enable: false

  network:
    ## The address/interface on which the backup server should listen. This
    ## defaults to 127.0.0.1. If you wish to listen on all available interfaces,
    ## uncomment the following line.
    # listen_address: '0.0.0.0'

    ## The port on which to listen. The backup server uses port 27810 by
    ## default. For most deployments, there should not be a need to change this.
    # listen_port: 27810

  logging:
    ## The logging level of the backup server.
    ## The values are identical to the logging levels described above.
    ## The default level is 'info'.
    # level: 'info'

    ## The file to which the synchronisation server should log. This should
    ## be a writable path from the perspective of the user under which the
    ## server runs. If no path is specified, the server will log to stdout.
    path: '/var/log/realm-object-server-backup-server.log'
```

I tried to re-cereate my DigitalOcean droplet from scratch and was able to reproduce the problem.  Here were all the steps:

- create droplet (Ubuntu 16.04.1 x64)
- `sudo apt-get update; sudo apt-get upgrade`
- installed Realm Object Server following the docs and ran it with default configuration
- connected to the dashboard (http, port 9080) and created admin user ✅ 
- connected to the db using Realm Browser (port 9080) ✅ 
- installed new SSL certificates from letsencrypt.org (following these steps: https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-16-04)
- give read/execute persmission to `realm` user to `/etc/letsencrypt`: 
```
sudo groupadd ssl
sudo usermod -a -G ssl realm
sudo chgrp -R ssl /etc/letsencrypt
sudo chmod -R g=rX /etc/letsencrypt
```
- update ROS configuration.yml https section (rest kept as default):
```bash
  https:
    enable: true
    certificate_path: '/etc/letsencrypt/live/myserver.com/fullchain.pem'
    private_key_path: '/etc/letsencrypt/live/myserver.com/privkey.pem'
    listen_address: '::'
    # listen_port: 9443
```
- restart: `sudo systemctl restart realm-object-server`
- connected to the dashboard (http, port 9080)  ✅ 
- connected to the dashboard (https, port 9443)  ✅  -- HTTPS connection / certs look valid in browser
- connected to the db using Realm Browser on port 9080  ✅ 
- try to connect to the db using Realm Browser on port 9443 ❌  : "The network connection was lost"

Hopefully that helps you reproduce it. Seems to be an issue with connecting to the sync module via HTTPS. 

I wanted to try using nginx as a reverse proxy (and disable the ROS proxy) to see if that works, but didn't know how to set up nginx properly to work with the ROS modules.

Hey @ewerx, that's incredibly detailed and useful, so major props for that.

We'll try to look at this ASAP.

this should be a realm-object-server issue, I'm encounter exactly same issue with @ewerx , but I'm using realm.js

@atom2ueki Yeah, we know it's in ROS. We're currently spread a bit thin, which is why we haven't made much progress on that. Just FMI, are you also using LE certs? Configured the same way as what ewerx did?

Thanks

I'm seeing the same issue on Amazon AMI with LE certs.

@ewerx no, I'm using comodo positive ssl currently, I've disabled proxy.http, enable https with 2 pem cert, listen_address: '::', and listen_port: 9443


@ewerx FYI I was able to get nginx working with ROS mostly by following this tutorial - https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-16-04 - starting with step 3 and choosing the "alternative configuration." 

One small tweak, at the end of the default server block I added this location block:

```
        location / {
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header Host $host;
                proxy_pass http://127.0.0.1:9080;

                # WebSocket support (nginx 1.4)
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
```

@raudabaugh Thanks, but it seems your configuration of nginx still uses the ROS proxy module (nginx --> ROS proxy on port 1080 --> ROS sync/service modules). See this diagram: https://realm.io/docs/realm-object-server/#network

I want to disable the ROS proxy module and have nginx route directly to the service modules (nginx --> ROS service module on 27080 + sync module on 27800). The part that's unclear is how to setup two routes to the internal modules which run on separate ports. The only reason I want to try this is to test if it resolves my HTTPS connection issue.

Has anyone found any workarounds to get HTTPS working? This is blocking submission of my app, don't want to be going over HTTP in production.

I am in the same boat, with the same error.  This HTTPS issue plus having an authentication provider that is HIPAA-compliant is holding us back from app store submission as well.

> On Feb 24, 2017, at 11:13 AM, Ehsan <notifications@github.com> wrote:
> 
> Has anyone found any workarounds to get HTTPS working? This is blocking submission of my app, don't want to be going over HTTP in production.
> 
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub, or mute the thread.
> 


@ewerx @RiverbayChris I'll look into this today myself. Sorry for the delay.

We're actually not able to reproduce this. I'll let @radu-tutueanu explain what he did to try and repro this, but for us, it seems to work.


I replaced the domain name with `${mydomain.com}`
ROS Version: 1.1.0-257
Realm Browser Version: 2.1.5

1. Install ROS, letsencrypt and generate certs

```
curl -s https://packagecloud.io/install/repositories/realm/realm/script.deb.sh | sudo bash
apt-get install realm-object-server-developer
apt-get install letsencrypt

letsencrypt certonly --standalone -d ${mydomain.com}

# set up permissions for the realm user on /etc/letsencrypt.
sudo groupadd ssl
sudo usermod -a -G ssl realm
sudo chgrp -R ssl /etc/letsencrypt
sudo chmod -R g=rX /etc/letsencrypt
```

2. Edit the config to enable ssl in the "proxy" section

```
  https:
    ## Whether or not to enable the HTTPS proxy module. It enables multiplexing requests
    ## by forwarding incoming requests on a single port to all services.
    ## Note that even if it enabled, the HTTPS proxy will only start if supplied
    ## with a valid pair of certificates through certificate_path and private_key_path below.
    enable: true

    ## The path to the certificate and private keys (in PEM format) that will be used
    ## to set up the HTTPS server accepting connections.
    ## These configuration options are MANDATORY to start the HTTPS proxy module.
    certificate_path: '/etc/letsencrypt/live/${mydomain.com}/cert.pem'
    private_key_path: '/etc/letsencrypt/live/${mydomain.com}/privkey.pem'

    ## The address/interface on which the HTTPS proxy module should listen. This defaults
    ## to 127.0.0.1. If you wish to listen on all available interfaces,
    ## uncomment the following line.
    listen_address: '::'

    ## The port that the HTTPS proxy module should bind to.
    # listen_port: 9443
```

3. Connect to the dashboard and create an account. ( Go to https://${mydomain.com}:9443 )

4. Go to the browser and choose "Connect to Object Server"
Enter "realms://${mydomain.com}:9443" as Server Url and the username and password you just created.
You should see a list of realms.



@ewerx : I just noticed that you are using `realm://` instead of `realms://` for accessing realms using SSL. I think that is the cause for the issue. 

> I just noticed that you are using realm:// instead of realms:// for accessing realms using SSL. I think that is the cause for the issue.

OMG all this time it was just a missing character?! 🤦‍♂️ 

Confirmed changing to `realms://` fixes the issue on the client app. Thanks @radu-tutueanu! 

I don't believe this distinction between `realm://` and `realms:// is mentioned in the docs. 

Also noticed Realm Object Browser v2.1.5 now crashes when connecting to the server with `realms://`, but this is not a blocker. I submitted a crash report.

`realms://` worked for me in the object browser. I agree that this distinction is poorly documented. I couldn't find it anywhere in the object server setup when configuring a server for my client.

Indeed, this is not well documented. However, the same concept applies with any browser and `https://`. Try browsing to `http://realm.io:443`, and you will get a nice error message about `400 Bad Request`. The server can do some magic to redirect the client, if it detects that it's actually sending HTTP instead of establishing a TLS connection (this is the case with `http://www.google.com:443`, for example).

The underlying problem comes from the fact that the default port for `realm://` is `tcp/80` (HTTP/WS), and the default port for `realms://` is `tcp/443` (HTTPS/WSS). We don't ship with these defaults because _stealing_ ports `tcp/80` and `tcp/443` is quite limiting for most typical deployments (we assumed that most people would use an nginx/apache to handle vhosting and potentially SSL termination). Due to the fact that the server doesn't listen on the default ports for the protocol, you need to specify the port all the time.

I'll create a ticket to have the documentation updated, and make this very, very explicit. I sincerely apologise for the time we've wasted. We're really happy you got it working though. Nice catch @radu-tutueanu!

Adding "s" to the protocol is a good convention, but the use of a custom URI scheme at all is confusing and usually implies a different overall URL Schema. For example, MongoDB uses a custom protocol schema, but the URL itself may be formatted different by comparison to an http or file URL, and still remain valid.

You might consider just using http or https as the protocol for realm URLs since they would help maintain familiarity, unless there is some undocumented added functionality that does not match normal http url formatting. If that's the case, then I'd recommend registering your scheme with IANA. http://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml


Thanks @nbering,

You're right, we're discussing internally whether we should get rid of this. At the moment, the best proposal we have would be to switch to `ws://` and `wss://`, as the sync protocol is encapsulated in raw WebSockets. So as you said, the sync protocol isn't exactly HTTP, which is why I'm reticent to using that scheme.

What do you think?

@teotwaki: That's an interesting point.

> The opening handshake is intended to be compatible with HTTP-based
   server-side software and intermediaries, so that a single port can be
   used by both HTTP clients talking to that server and WebSocket
   clients talking to that server.  To this end, the WebSocket client's
   handshake is an HTTP Upgrade request:
> -- Section 1.3 of [RFC6455](https://tools.ietf.org/html/rfc6455)

Given that the opening handshake is standards-compliant http, if the the client SDKs take a single URL as the base for connection URLs, I would use http(s), unless the context requires users to specify in order to negotiate the connection correctly.

@nbering Noted.

FYI. In your docs you have "realm://" so please fix that. I had same issue with testing Realm by copying your own code from your docs :)